body {
  background-color: rgb(0, 234, 255);
  font: normal 15px arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.481);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

#foto img {
  max-width: 100%;
}

p {
    text-align: center;
}
